main p {
	color: #1C0C06;
}

main p span {
	color: #13afe1;
	font-weight: bold;
}

main #login_area {
	float: left;
	width: 50%;
	height: 500px;
}

main #register_area {
	float: left;
	width: 50%;
	height: 500px;
}