main {
	height: 640px;
}

main #register_area {
	float: left;
	width: 60%;
	height: 550px;
}

main #login_area {
	float: left;
	width: 38%;
	height: 550px;
}

#register_area form p {
	margin: 5px 0;
}

#register_area h2 {
	background-color: #2ecc71;
	color: #fff;
	padding: 5px;
	margin: 5px 45px 5px 0;
}

#register_area form label {
	display: inline-block;
	width: 20%;
	text-align: right;
	margin: 15px 0;
}

#register_area form input[type="text"], 
#register_area select,
#register_area form input[type="password"] {
	width: 65%;
	height: 25px;
	padding-left: 5px;
}

#register_area form input[type="submit"] {
	margin: 0 auto;
	display: block;
	background-color: #3498db;
	color: #fff;
	border: none;
	padding: 10px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

#register_area form input[type="submit"]:hover, 
#login_area a:hover span {
	background-color: #2980b9;
}

#register_area form input[type="text"]::placeholder,
#register_area form input[type="password"]::placeholder {
	font-size: 15px;
	color: #f00;
	font-style: italic;
}

#login_area h2 {
	background-color: #34495e;
	color: #fff;
	padding: 5px 15px;
	margin: 5px 0;
}

#login_area p, #login_area p a {
	margin: 15px 10px 0;
	color: #3498db;
	font-size: 15px;
}

#login_area p:hover a {
	color: #1f2228;
}

#login_area a span {
	display: block;
	background-color: #3498db;
	text-align: center;
	line-height: 35px;
	width: 400px;
	color: #fff;
	font-size: 16px;
}

#msgName, #msgEmail, #msgPassword, #msgPhone {
	display: none;
	color: #f00;
	margin-left: 150px;
}