body {
    font-size: 14px;
    color: #363636;
}

a {
    text-decoration: none !important;
}

.breadcrumb {
    background-color: #fff;
    margin: 0;
    font-size: 1.14286em;
    padding: 0;
    border-radius: 0;
    background: transparent;
}

.breadcrumb li span .fa {
    color: #898989;
    font-size: 1em;
    margin: 3px;
}

.breadcrumb li > a > span {
    color: #333;
}

.breadcrumb li > a > span:hover {
    color: #80BB35;
}

.breadcrumb li strong {
    color: #80BB35;
    font-weight: 400;
    font-size: 1em;
    margin-left: 5px;
}

.field.error input {
    width: 100%;
}

.field > label {
    display: block;
    margin: 0 0 .28571429rem;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

.field > .error > input {
    background-color: #FFF6F6;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: none;
}

#formRegister .field .field.error input {
    min-height: 35px;
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    color: #55595C;
    padding-left: 10px;
}

#formRegister .field .field.error div {
    color: #f00;
    font-style: italic;
    margin: 10px 0;
}

#login-section img {
    width: 100%;
}

#login-section p {
    text-align: center;
    margin: 20px 0;
}

#login-section p a {
    color: #80BB35;
}

#login-section p a:hover {
    color: #8DC940;
}

#register-section button[type='submit'] {
    background-color: #80BB35;
    color: #fff;
    border: 1px solid #80BB35;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    padding: 0 15px;
    outline: none;
    font-weight: 400;
}

#register-section button[type='submit']:hover {
    background-color: #8DC940;
}

#register-section label {
    cursor: pointer;
}

#register-section h4 {
    text-align: center;
}